
body {
background-image:linear-gradient(to bottom right, #CEAFFF, #8DFCFF);
}


.header {
	background-color:white;
    padding: 20px;
    text-align: center;
}
#rcorners1 {
    border-radius: 25px;
    background: white;
    padding: 20px; 
    width: 500px;
    height: 250px;    
}
h1 {
    margin-left: 20px;
}

p{
	font-size: 20px;
}
