#bottom_panel {
    margin-left:25px; 
    margin-top:45px; 
    background-color:#d5d0fb;
}

.btn.btn-primary {
    background: #872bc6 none repeat scroll 0 0;
    border-color: #8116ca;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.btn.btn-primary:hover {
    background: #9b54cb none repeat scroll 0 0;
}

#top_bar {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #8116ca;
}